@page
@using Microsoft.AspNetCore.Identity
@model CapitalBreweryBikeClub.Pages.IndexModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Brew Rides";
}

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul>
            <li>
                <h1>@User.Identity.Name Is Signed In</h1>
            </li>
            <li>
                <button type="submit" class="btn btn-link">Log out</button>
            </li>
        </ul>
    </form>
    
}
else
{
    <div>
        <a asp-page="/Account/ExternalLogin" class="btn btn-primary btn-lg" role="button"><i class="fab fa-google btn-label"></i> External Sign In</a>
        <a asp-page="/Account/CustomLogin" class="btn btn-primary btn-lg" role="button"><i class="fas fa-user-ninja btn-label"></i> Custom Sign In</a>
    </div>
}
@await Component.InvokeAsync("Schedule", DateTime.Today)

