@page
@model CapitalBreweryBikeClub.Pages.IndexModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Brew Rides";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@await Component.InvokeAsync("Schedule", DateTime.Today)
</body>
</html>
