@model CapitalBreweryBikeClub.Model.WeeklySchedule

<div class="weekly-schedule-container">
    <div class="week-of-header">
        <h2>Week of @Model.BeginningOfWeek.ToString("MMMMM dd")</h2>
    </div>
    @foreach (var scheduleItem in Model.Routes)
    {
        @await Component.InvokeAsync("ScheduleCard", scheduleItem)
    }
</div>