@model CapitalBreweryBikeClub.Model.ScheduleData
@{
    var links = new CapitalBreweryBikeClub.Model.RideWithGpsLinks(@Model.RouteData.RideWithGpsId);
}

<div class="card route-card">
    @if (Model.Date != DateTime.MinValue)
    {
        <h5 class="card-header">
            @Model.Date.ToString("dddd")
        </h5>
    }
    <div class="card-body">
        <iframe src=@links.EmbedLink scrolling="no" frameborder="0"></iframe>
    </div>
    <div class="card-footer">
        <a href="@links.FitLink" class="btn btn-primary">.FIT</a>
        <a href="@links.CueLink" class="btn btn-primary">Cue</a>
    </div>
</div>