@model CapitalBreweryBikeClub.Model.ScheduleData

<div class="card route-card">
    @if (Model.Date != DateTime.MinValue)
    {
        <h5 class="card-header">
            @Model.Date.ToString("dddd")
        </h5>
    }
    @await Component.InvokeAsync("RouteView", @Model.RouteData)
</div>