@page
@model CapitalBreweryBikeClub.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Super Secret Admin Panel</title>
</head>
<body>

    <h2>Route Management</h2>
    <div>
        <div>
            <label>There are @Model.Routes.Count() routes in the cache</label>
        </div>
        <form method="post" asp-page-handler="RefreshRoutes">
            <button class="btn-danger">Refresh Route Cache</button>
        </form>
    </div>

    <h2>Schedule Management</h2>

    <h3>Schedule a Ride</h3>
    <form method="post" asp-page-handler="ScheduleRoute">
        <select asp-for="DateToAdd" asp-items="Model.SelectableDates"></select>
        <select asp-for="RouteToAdd" asp-items="Model.SelectableRoutes"></select>
        <button class="btn">Add</button>
    </form>

    <h3>User Management</h3>
    <form method="post" asp-page-handler="InitializeDatabase">
        <button class="btn">Initialize Database</button>
    </form>
</body>
</html>