/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.menuHeader {
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0px 3px 5px 3px #888888;
    background: rgba(255,255,255,1);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

.menuItem {
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    width: 120px;
    transition: box-shadow .2s ease-in-out;
    transition: background .1s ease-in-out;
}

.menuColor {
    color: black;
}

.active {
    background: gray;
}

.menuItem:hover {
    background: #888888;
}

.menuText {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 5px;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #d1d1e0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
