@page
@model MyApp.Namespace.CustomLoginModel
@{
}

<H2>Custom Login</H2>

@if (!@User.Identity.IsAuthenticated) 
{
    <form asp-page-handler="Confirmation" method="post">
        <!-- <div asp-validation-summary="All" class="text-danger"></div> -->
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-default">Login!</button>
    </form>
}
else
{
    <h3>Logged in user is @User.Identity.Name</h3>
    <form method="post" asp-page-handler="Signout">
        <div>
            <button type="submit" class="btn btn-primary">Sign Out</button>
        </div>
    </form>
}

