@page
@model MyApp.Namespace.SignOutModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign Out</title>
</head>
<body>
You have been signed out
</body>
</html>
