@page
@model CapitalBreweryBikeClub.Pages.Routes.IndexModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Brew Routes";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
    @foreach (var route in @Model.Routes)
    {
        <li><a href="/Routes/@route.link">@route.info.Name</a> @(string.IsNullOrEmpty(route.info.Mileage) ? "" : "(route.info.Mileage)")</li>
    }
    </ul>
</body>
</html>
