@page "/Routes/{routeName}"
@model CapitalBreweryBikeClub.Pages.Routes.ViewModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = $"Brew Routes - {@Model.Route.Name}";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
<div class="centeredtext">
    @await Component.InvokeAsync("RouteView", @Model.Route)
</div>
@if(User.IsInRole(CapitalBreweryBikeClub.Internal.Roles.Admin))
{
    <div>
        <div class="adminPanelHeader"><h1>Is Admin</h1></div>
        <div class="adminPanelContent">
            <a href="/Routes/@Model.Route.Name/delete">Delete</a>
        </div>
    </div>
}
</body>
</html>